/* Common styles for all screen sizes */
body {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.5em, 0.8em, 1em);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/background-lightblue.jpeg);
}

/* Header Styles */
header {
    background-color: rgba(218, 238, 249, 0.8);
    padding: 10px 0; /* Improved padding for better visibility */
    text-align: center;
}

/* Navigation Styles */
nav {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #92BFDD;
    height: 4em;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
}

/* Body Scroll Styles */
body.scrolled {
    padding-top: 50px;
}

/* Navigation Links Styles */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1em; /* Improved font size for better readability */
}

a:hover {
    color: #38598b;
}

a:active {
    color: #ff0000;
}

a.new-link {
    color: #00ff00;
}

/* Main Content Styles */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 100px;
}

/* Responsive Image Styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Box Styles */
.big-box {
    width: 100%;
    height: 15em;
    padding: 20px;
    background-color: #DAEEF9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-box {
    width: 100%; /* Adjust the width as needed */
    padding: 20px;
    background-color: #ffffff;
    background-color: rgba(218, 238, 249, 0.8);
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-box {
    width: 15%; /* Adjust the width as needed for smaller screens */
}

/* Footer Styles */
footer {
    background-color: #B5CFE5;
    background-color: rgba(218, 238, 249, 0.8);
    color: #000000;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box {
    flex: 1;
    padding: 0;
    box-sizing: border-box;
}

.footer-box.left,
.footer-box.center,
.footer-box.right {
    text-align: center;
    max-width: 100%;
}

.footer-box.left {
    text-align: left;
}

.footer-box.right {
    text-align: right;
}
.menu-btn {
    cursor: pointer;
    display: none;
    font-size: 1.2em;
  }
  
  .mobile-menu {
    display: none;
  }

/* Additional adjustments for smaller screens */
@media (max-width: 600px) {
    .footer-box {
        max-width: 100%;
        margin-bottom: 10px;
        margin-right: 0.5em;
    }

    /* Adjust font sizes for better readability on smaller screens */
    a {
        font-size: 0.9em;
    }

    header {
        padding: 5px 0; /* Adjusted padding for better visibility */
    }

    /* Adjust the width for smaller screens in the content box */
    .content-box {
        width: 100%;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(218, 238, 249, 0.8);
      }
    
      .nav-links.show {
        display: flex;
      }
    
      .nav-links li {
        margin: 0;
        text-align: center;
        padding: 10px;
      }
    
      .menu-btn {
        display: block;
      }
}
